<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Browser{% endblock %}</title>
    
    {% block extra_head %}
    {% endblock %}

    <link rel="stylesheet" href="{% static 'layout.css' %}">
  </head>
  <body>

    <header class="header">
      <div class="header-brand">
        {% if user.is_authenticated %}
          <p class="welcome-message">Welcome back, <strong>{{ user.username }}</strong></p>
        {% else %}
          <h1>Movie Library & Browser</h1>
        {% endif %}
      </div>

      <div class="search-container">
        <form action="{% url 'home' %}" method="GET" class = "search">
          <input 
            type="text" 
            name="q" 
            placeholder="Search movies..." 
            value="{{ request.GET.q }}" 
            style="padding: 8px 12px; border-radius: 20px; border: 1px solid rgba(255,255,255,0.3); background: rgba(0,0,0,0.2); color: white; outline: none; width: 100%; max-width: 300px;"
          >
          
        </form>
      </div>

      <nav class="navbar">
        <button id="nav-toggle" class="nav-toggle" aria-controls="nav-links" aria-expanded="false">
          &#9776;
        </button>
        
        <ul id="nav-links" class="nav-links">
          <li><a href="{% url 'home' %}">Home</a></li>

          {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">My Favourites</a></li>
            
            <li>
              <form action="{% url 'logout' %}" method="POST" style="margin: 0;">
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
         
            {% else %}
            
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>

    </header>
    {% if messages %}
      {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src = {% static 'layout.js' %}> </script>
  </body>
</html>
