{% extends "layout.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'homestyle.css' %}">
{% endblock %}

{% block content %}
  <main class="movie-grid">
    {% for movie in movies %}
      <div class="movie-card">
        <a href="{% url 'CastView' movie.id %}" class="movie-link">
          <div class="movie-poster" style="background-image: url('{{ movie.poster_path }}')"></div>
          <p class="movie-title">{{ movie.original_title }}</p>
        </a>

        <div class="movie-meta">
          <p class="movie-release_date">{{ movie.release_date|slice:"-4:" }}</p>
          <form action="{% url 'watchlist' movie.id %}" method="POST" class="watchlist-form">
            {% csrf_token %}
            <button id="likeCount_{{ movie.id }}" type="submit" class="watchlist-button">
              {% if request.user in movie.user.all %}
                {{ movie.user.count }} ❤️
              {% else %}
                {{ movie.user.count }} 🤍
              {% endif %}
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
  </main>

 {% if request.resolver_match.url_name != 'profile' %}
  <footer class="pagination-footer">
    <div class="pagination-controls">
      
      {% if movies.has_previous %}
        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="load-more-btn">&laquo; First</a>
        <a href="?page={{ movies.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="load-more-btn">Previous</a>
      {% endif %}

      <span class="current-page">
        Page {{ movies.number }} of {{ movies.paginator.num_pages }}
      </span>

      {% if movies.has_next %}
        <a href="?page={{ movies.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="load-more-btn">Next</a>
        <a href="?page={{ movies.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="load-more-btn">Last &raquo;</a>
      {% else %}
    
        <a href="{% url 'database' %}" class="load-more-btn database-load-more">Load Movies...</a>
      {% endif %}
      
    </div>
  </footer>
{% endif %}

{% endblock %}
