<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Browser</title>
    <link rel="stylesheet" href="{% static 'details.css'%}">
  </head>
  <body>
    <button class="back-button" onclick="history.back()">
    &larr; Back
  </button>

  <div class="container" style="background-image: linear-gradient(to right, rgba(20,20,20,0.8) 40%, rgba(20,20,20,0.2)), url('{{ movie.backdrop_path }}');">
    <div class="poster" style="background-image: url('{{ movie.poster_path }}');"></div>

    <div class="content">
      <h2>{{ movie.original_title }}</h2>

      <div class="tags">
        <span class="movie-release_date">{{ releaseYear }}</span>
        <span class="movie-original_language">Lang: {{ movie.original_language }}</span>
        <span class="movie-vote_average">⭐ {{ movie.vote_average }}</span>
        <span class="movie-vote_count">Votes: {{ movie.vote_count }}</span>
        <span class="movie-popularity">Popularity: {{ movie.popularity }}</span>
      </div>

      <p class="overview">{{ movie.overview }}</p>
    </div>
  </div>

  <div class="cast-section">
    <h3>Cast of {{ movie.original_title }}</h3>
    <div class="cast-list">
      {% for cast in cast_list %}
        <div class="cast-card">
          <img src="{{cast.profile_path}}" alt="{{cast.name}}">
          <p><strong>{{cast.name}}</strong></p>
          <p class="character-name">{{cast.character}}</p>
          <p class="cast-popularity">Cast Popularity : {{cast.popularity}}</p>
        </div>
      {% empty %}
        <li>No cast information available.</li>
      {% endfor %}
      </div>
  </div>

  </body>
</html>
  